.testimonial {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  gap: 80px;
}

.testimonial__header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    text-align: center;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 69px;
    text-transform: capitalize;
    color: #000f24;
  }

  p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    color: #a2a2a2;
  }
}

.testimonial__body {
  display: flex;
  align-items: center;
  gap: 70px;

  .testimonial__body__details {
    display: flex;
    flex-direction: column;
    gap: 30px;

    p {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      text-transform: capitalize;
      color: #a2a2a2;
    }

    .userDetails {
      display: flex;
      align-items: center;
      gap: 5px;

      .userAvatar {
        img {
          object-fit: contain;
        }
      }

      .userInfo {
        display: flex;
        flex-direction: column;
        gap: 1px;

        h6 {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          text-transform: capitalize;
          color: #000000;
        }

        p {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          text-transform: capitalize;
          color: #a1a1a1;
        }
      }
    }
  }
}

.testimonial__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  img {
    cursor: pointer;
  }
}
