.testimonial {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  gap: 80px;
}

.testimonial__header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    text-align: center;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 69px;
    text-transform: capitalize;
    color: #000f24;
  }

  p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
    color: #a2a2a2;
    width: 50%;
    margin: 0 auto;
  }
}

.testimonial__body {
  display: flex;
  align-items: center;
  gap: 70px;

  .testimonial__body__details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 0 auto;

    p {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      text-transform: capitalize;
      color: #a2a2a2;
    }

    .userDetails {
      display: flex;
      align-items: center;
      gap: 5px;

      .userAvatar {
        img {
          object-fit: contain;
        }
      }

      .userInfo {
        display: flex;
        flex-direction: column;
        gap: 1px;

        h6 {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          text-transform: capitalize;
          color: #000000;
        }

        p {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          text-transform: capitalize;
          color: #a1a1a1;
        }
      }
    }
  }
}

.testimonial__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  img {
    cursor: pointer;
  }
}

@media screen and (max-width: 720px) {
  .testimonial {
    padding: 50px;
    // height: 60vh;
    height: auto;
    gap: 40px;
  }

  .testimonial__header {
    h1 {
      font-size: 24px;
      line-height: 30px;
    }

    p {
      font-size: 8px;
      line-height: 16px;
      width: 100%;
    }
  }

  .testimonial__body {
    gap: 30px;

    .testimonial__body__details {
      gap: 15px;
      width: 100%;

      p {
        font-size: 10px;
        line-height: 14px;
      }

      .userDetails {
        .userAvatar {
          height: 2vh;
        }
      }

      .userInfo {
        h6 {
          font-size: 10px;
          line-height: 14px;
        }

        p {
          font-size: 8px;
          line-height: 11px;
        }
      }
    }
  }

  .testimonial__slider {
    img {
      height: 7px;
    }
  }
}

@media screen and (min-width: 721px) and (max-width: 1380px) {
  .testimonial {
    padding: 75px;
    height: auto;
    gap: 60px;
  }

  .testimonial__header {
    h1 {
      font-size: 36px;
      line-height: 46px;
    }

    p {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .testimonial__body {
    gap: 45px;

    .testimonial__body__details {
      gap: 25px;
      width: 100%;
      width: 90%;

      p {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  .testimonial__slider {
    img {
      height: 10px;
    }
  }
}
