.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

.navbar__title {
  h1 {
    font-family: 'Amazing Kids';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 47px;
    text-transform: capitalize;
    color: #ffffff;
  }
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar__links__text {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    text-decoration: none;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;

    color: #aac4e6;

    &:hover {
      color: #ffffff;
      text-decoration-line: underline;
      text-decoration-color: white;
      transition: all 0.5s ease-in-out;
    }

    // &.active {
    //   color: #ffffff;
    //   text-decoration-line: underline;
    //   text-decoration-color: white;
    // }
  }

  .active-link {
    color: #ffffff;
    text-decoration-line: underline;
    text-decoration-color: white;
  }
}

.navbar__links__button {
  button {
    background-color: #fff;
    border-radius: 4px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #004db3;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.09);
      transition: all 0.6s ease-in-out;
    }
  }
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 720px) {
  .navbar {
    padding: 20px;
  }

  .navbar__title {
    h1 {
      font-size: 19.1615px;
      line-height: 19px;
    }
  }

  .navbar__links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    transition: all 0.5s ease-in-out;

    &.mobile {
      display: flex;
      z-index: 100;
    }
  }

  .navbar__links__text {
    flex-direction: column;
    padding: 5px;

    a {
      margin-top: 5px;
      font-size: 8px;
      line-height: 11px;
      width: 100vw;
      text-align: center;
      padding: 10px;

      &:hover {
        background-color: #fff;
        color: #004db3;
        transform: scale(1.19);
      }
    }
  }

  .navbar__links__button {
    button {
      font-size: 8px;
      line-height: 11px;
      padding: 5px 20px;
    }
  }

  .nav-toggle {
    display: block;
    font-size: 20px;
    color: white;
    background: transparent;
    border-color: transparent;
    transition: 0.3s ease-in-out all;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: rgba(255, 255, 255, 0.63);
      transform: rotate(90deg);
    }
  }
}

@media screen and (min-width: 721px) and (max-width: 1380px) {
  .navbar {
    padding: 20px 50px;
  }

  .navbar__title {
    h1 {
      font-size: 26px;
      line-height: 26px;
    }
  }

  .navbar__links {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar__links__text {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      margin-top: 0px;
      font-size: 12px;
      line-height: 16px;

      &:hover {
        transform: scale(1.09);
      }
    }
  }

  .navbar__links__button {
    button {
      font-size: 12px;
      line-height: 16px;
      padding: 7px 10px;
    }
  }

  .nav-toggle {
    display: none;
  }
}
