.footer {
  background: #000f24;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 150px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-family: 'Amazing Kids';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize;
    color: #ffffff;
  }

  p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #ffffff;
  }

  .footer__socials__network {
    display: flex;
    align-items: center;
    gap: 30px;

    i {
      color: #2a2a2b;
      font-size: 25px;
      cursor: pointer;

      &:hover {
        color: white;
        transition: 0.7s all ease-in-out;
      }
    }
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    text-transform: capitalize;
    color: #ffffff;
  }

  ul {
    li {
      list-style-type: none;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      text-transform: capitalize;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
}

.footer__community {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    text-transform: capitalize;
    color: #ffffff;
  }

  ul {
    li {
      list-style-type: none;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      text-transform: capitalize;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
}

.footer__subscription {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    text-transform: capitalize;
    color: #ffffff;
  }

  .footer__subscription__input {
    display: flex;
    align-items: center;

    input {
      outline: none;
      border: 1px solid #054fb3;
      padding: 12px 10px 10px 10px;
      background: #2a2a2b;
      border-radius: 2px 0px 0px 2px;
      color: white;
      width: 300px;
    }

    button {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-transform: capitalize;
      color: #ffffff;
      background: #054fb3;
      border-radius: 0px 2px 2px 0px;
      padding: 10px;
      width: 150px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 860px) {
  .footer {
    height: auto;
    flex-direction: column;
    padding: 50px 20px;

    .footer__socials {
      h2 {
        font-size: 30px;
      }

      p {
        font-size: 14px;
      }
    }

    .footer__nav {
      margin-top: 30px;
      h3 {
        font-size: 18px;
      }

      ul {
        li {
          font-size: 12px;
        }
      }
    }

    .footer__community {
      margin-top: 30px;
      h3 {
        font-size: 18px;
      }

      ul {
        li {
          font-size: 12px;
        }
      }
    }

    .footer__subscription {
      margin-top: 30px;

      h3 {
        font-size: 18px;
      }

      .footer__subscription__input {
        width: 80vw;

        input {
          width: 60%;
          font-size: 12px;
        }

        button {
          font-size: 12px;
          width: 40%;
        }
      }
    }
  }
}

@media screen and (min-width: 861px) and (max-width: 1380px) {
  .footer {
    height: 60vh;
    // flex-direction: column;
    padding-top: 100px;
    // padding-left: 20px;
    // padding-right: 30px;

    .footer__socials {
      h2 {
        font-size: 35px;
      }

      p {
        font-size: 14px;
      }

      // .footer__socials__network {
      //   i {
      //     font-size: 20px;
      //   }
      // }
    }

    .footer__nav {
      // margin-top: 30px;
      h3 {
        font-size: 20px;
      }

      ul {
        li {
          font-size: 14px;
        }
      }
    }

    .footer__community {
      // margin-top: 30px;
      h3 {
        font-size: 20px;
      }

      ul {
        li {
          font-size: 14px;
        }
      }
    }

    .footer__subscription {
      // margin-top: 30px;

      h3 {
        font-size: 20px;
      }

      .footer__subscription__input {
        // width: 80vw;

        input {
          width: 200px;
          font-size: 12px;
        }

        button {
          font-size: 12px;
          width: 100px;
        }
      }
    }
  }
}
