.aboutUs {
  display: flex;
  flex-direction: column;
}

.aboutUs__body1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.aboutUs__companies {
  background: #ccdbf0;
  padding: 40px 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    height: 4vh;
  }

  .zoom {
    height: 3vh;
  }
}

.aboutUs__body1__section {
  display: flex;
  padding: 50px 60px;
}

.aboutUs__body1__section__info {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  .crown {
    position: absolute;
    top: -5%;
    left: -5%;
    height: 6vh;
  }

  h1 {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    text-transform: capitalize;
    color: #000f24;
  }

  p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: #a2a2a2;
  }

  button {
    padding: 16px 32px;
    gap: 10px;
    width: 166px;
    height: 54px;
    background: #004db3;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      transform: scale(1.09);
      transition: all 0.6s ease-in-out;
    }
  }
}

.aboutUs__body1__section__info__options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 30px;

  span {
    display: flex;
    gap: 20px;

    p {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;

      text-transform: capitalize;
      color: #000f24;
    }

    img {
      height: 4vh;
    }
  }
}

.aboutUs__body1__section__hero {
  flex: 0.5;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0px 60px 0px 0px;

  .aboutUs__body1__section__hero__avatar {
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    left: 15%;
    background: #ffffff;
    border-radius: 8px;

    p {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      text-transform: capitalize;
      color: #000f24;
    }
  }

  .zigzag {
    height: 2vh;
    position: absolute;
    right: 0;
    top: 0;
  }

  .raindrops {
    position: absolute;
    right: 5%;
    top: 40%;
  }

  .circle {
    height: 1vh;
    position: absolute;
    bottom: 5%;
    right: 50%;
  }

  .boy {
    height: 52vh;
  }

  .woman {
    position: absolute;
    height: 30vh;
    z-index: 5;
    bottom: -20%;
    left: 5%;
  }
}

.aboutUs__body2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 30px 100px;
  margin-top: 10vh;
  gap: 10vw;
}

.aboutUs__body2__section1 {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  h1 {
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    text-transform: capitalize;
    color: #000f24;
  }

  p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: #a2a2a2;
  }

  .kidHero {
    height: 50vh;
  }

  .green-triangle {
    position: absolute;
    bottom: 18%;
    left: -13%;
    height: 3vh;
  }
}

.aboutUs__body2__section2 {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  position: relative;

  .zigzag {
    margin: 0px auto;
  }

  .circlePurple {
    position: absolute;
    right: -10%;
    bottom: 10%;
    height: 2vh;
  }
}

.aboutUs__body2__section2__infos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 100px;
}

.aboutUs__body2__section2__info {
  display: flex;
  flex-direction: column;
  gap: 15px;

  img {
    height: 4vh;
  }

  h4 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
  }

  p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    text-transform: capitalize;
    color: #a2a2a2;
  }
}

@media screen and (max-width: 720px) {
  .aboutUs__companies {
    padding: 20px 10px;

    img {
      height: 16px;
    }

    .zoom {
      height: 12px;
    }
  }

  .aboutUs__body1 {
    // height: 75vh;
    height: auto;
  }

  .aboutUs__body1__section {
    flex-direction: column;
    padding: 25px 30px;
  }

  .aboutUs__body1__section__info {
    .crown {
      height: 2vh;
      left: 0;
      top: -2%;
    }

    h1 {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }

    p {
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }

    button {
      padding: 12px 20px;
      width: auto;
      height: auto;
      margin: 0 auto;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .aboutUs__body1__section__info__options {
    gap: 30px;
    padding: 10px;
    margin: 30px auto;
    margin-bottom: 50px;

    span {
      gap: 10px;
      display: flex;
      align-items: center;

      p {
        font-size: 12px;
        line-height: 16px;
      }

      img {
        height: 3.5vh;
      }
    }
  }

  .aboutUs__body1__section__hero {
    padding-right: 30px;

    .aboutUs__body1__section__hero__avatar {
      top: 15%;
      left: 0;
      padding-top: 5px;

      p {
        font-size: 10px;
        line-height: 12px;
      }

      .MuiAvatar-root {
        height: 3vh;
        width: 6vw;
        img {
          object-fit: contain;
        }
      }
    }

    .zigzag {
      height: 1vh;
    }

    .circle {
      height: 0.5vh;
    }

    .raindrops {
      height: 10vh;
    }

    .boy {
      height: 26vh;
    }

    .woman {
      height: 15vh;
    }
  }

  .aboutUs__body2 {
    padding: 0px 20px;
    flex-direction: column;
    gap: 0;
    // height: 90vh;
    height: auto;
  }

  .aboutUs__body2__section1 {
    h1 {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }

    p {
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }

    .kidHero {
      height: 30vh;
    }

    .green-triangle {
      height: 1vh;
    }
  }

  .aboutUs__body2__section2 {
    margin-top: 20px;
    .zigzag {
      height: 1.5vh;
    }

    .circlePurple {
      height: 1vh;
      right: 0;
      top: 35%;
    }
  }

  .aboutUs__body2__section2__infos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
  }

  .aboutUs__body2__section2__info {
    gap: 7px;
    margin-bottom: 20px;

    img {
      height: 3vh;
    }

    h4 {
      font-size: 16px;
      line-height: 22px;
    }

    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}

@media screen and (min-width: 721px) and (max-width: 1380px) {
  .aboutUs__companies {
    padding: 30px 50px;

    img {
      height: 18px;
    }

    .zoom {
      height: 14px;
    }
  }

  .aboutUs__body1 {
    height: auto;
  }

  .aboutUs__body1__section {
    padding: 25px 30px;
  }

  .aboutUs__body1__section__info {
    .crown {
      height: 4vh;
      left: -6%;
      top: -4%;
    }

    h1 {
      font-size: 36px;
      line-height: 46px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    button {
      padding: 12px 20px;
      width: 136px;
      height: 42px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .aboutUs__body1__section__info__options {
    gap: 50px;
    padding: 20px;
    margin-bottom: 60px;

    span {
      gap: 20px;
      display: flex;
      align-items: center;

      p {
        font-size: 14px;
        line-height: 20px;
      }

      img {
        height: 4vh;
      }
    }
  }

  .aboutUs__body1__section__hero {
    padding-right: 50px;

    .aboutUs__body1__section__hero__avatar {
      top: 30%;
      left: 2%;
      padding-top: 5px;

      p {
        font-size: 8px;
        line-height: 12px;
      }

      .MuiAvatar-root {
        height: 3vh;
        width: 4vw;
        img {
          object-fit: contain;
        }
      }
    }

    .zigzag {
      height: 2.5vh;
    }

    .circle {
      height: 1.5vh;
    }

    .raindrops {
      height: 15vh;
    }

    .boy {
      height: 46vh;
    }

    .woman {
      height: 30vh;
      bottom: 0;
      left: 2.5%;
    }
  }

  .aboutUs__body2 {
    flex-direction: column;
    padding: 15px 50px;
    gap: 5vw;
    height: auto;
    margin-top: 5vh;
  }

  .aboutUs__body2__section1 {
    gap: 10px;
    h1 {
      font-size: 36px;
      line-height: 46px;
      text-align: center;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }

    .kidHero {
      height: 40vh;
      object-fit: cover;
      width: 80%;
      margin: 0 auto;
    }

    .green-triangle {
      height: 1.5vh;
    }
  }

  .aboutUs__body2__section2 {
    .zigzag {
      height: 2vh;
    }

    .circlePurple {
      height: 1vh;
      right: -8%;
      bottom: 7%;
    }
  }

  .aboutUs__body2__section2__infos {
    margin-top: 50px;
    gap: 30px;
  }

  .aboutUs__body2__section2__info {
    gap: 9px;

    img {
      height: 3vh;
    }

    h4 {
      font-size: 16px;
      line-height: 22px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
